{% extends "main.html" %}

{% block content %}
<!-- 
<p>{{page}} 1</p>

{% if number > 10 %}
<p>Number is greater than 10</p>

{% elif number == 10 %}
<p>Number is equal to 10</p>

{% else %}
<p>Number is less than 10</p>
{% endif %} -->

<h1>Projects</h1>

<table>
  <tr>
    <!-- <th>ID</th> -->
    <th>Project</th>
    <th>Positive Votes</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    
  </tr>
  {%for project in projects%}
  <tr> <!--we got these attributes from Project class in models.py-->
    <!-- <td>{{project.id}}</td> -->
    <td>{{project.title}}</td>
    <td>{{project.vote_ratio}}%</td>
    <td>{{project.vote_total}}</td>
    <td>{{project.created}}</td>
    <td>{{project.title}}</td>
    <td><a href="{%url 'update-project' project.id%}">Edit</a></td>
    <td><a href="{%url 'project' project.id%}">View</a></td>
    <td><a href="{%url 'delete-project' project.id%}">Delete</a></td>
  </tr>

  {%endfor%}
</table>
<!-- being used above now in table  <ul>
  {%for project in projects%}
  <li>Title:<a href="{%url 'project' project.id%}">{{project.title}}</a> --- {{project.created}}</li>
  {% endfor %}
</ul> -->
<h1>Projects Template</h1>
<p>
  lorem Ipsum is simply dummy text of the printing and typese tting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a ty pe
  specimen book. It has survived not only five centuries, b ut also the leap
  into electronic typesetting, remaining essentially unchanged. It was
  popularised in the 1960s with the release of Letraset sheets containing Lorem
  Ipsum passages, and more recently with desktop publishing software like Aldus
  PageMaker including versions of Lorem Ipsum
</p>

{% endblock content%}