{% if queryset.has_other_pages %} <!--pagination will not show if there are not other pages-->
      <div class="pagination">
        <ul class="container">
          {% if queryset.has_previous %} <!-- If previous page is available in queryset -->
            <li><a href="?page={{queryset.previous_page_number}}" class="btn page-link" data-page="{{queryset.previous_page_number}}> &#10094; Prev</a></li>
          {% endif %}
          {% for page in custom_range %}
            {% if page == queryset.number %}
            <li><a href="?page={{page}}" class="btn page-link btn--sub" data-page="{{page}}">{{page}}</a></li>
            {% else %}
            <li><a href="?page={{page}}" class="btn page-link" data-page="{{page}}"> {{page}} </a></li>
            {% endif %}
          {% endfor %}

          {% if queryset.has_next %} <!-- If next page is available in queryset -->
          <li><a href="?page{{queryset.next_page_number}}" class="btn page-link" data-page="{{queryset.next_page_number}}">Next &#10095;</a></li>
          {%endif%}
        </ul>
      </div>
    {%endif%}

    <!-- Code now in static/js/main.js 
      <script type="text/javascript">
      // Getting search form and page links
      let seachForm = document.getElementById('searchForm')
      let pageLinks = document.getElementsByClassName("page-link") 
      // Ensure search form exists
      if(searchForm){
        for(let i=0; pageLinks.length > i; i++){
          pageLinks[i].addEventListener('click',function(e) {
            e.preventDefault() // stops the default action on button click , javascript code will submit form

            // Get the data attribute 
            let page=this.dataset.page
            console.log('Button clicked!')
            console.log("Page:",page)
            
            // Adding hidden search input to form
            searchForm.innerHTML += `<input value=${page} name="page" hidden />` // these `` are known as js literals
            // Submitting form
            searchForm.submit()
          })
        }
      }
    </script>  -->